*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/* work-sans-font */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* Shared selectors */
.display-flex{
    display: flex;
}
.color-bg{
    background-color:#FFF4E7;
}
.light-gray{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    border-radius: 5px;
    padding: 20px 25px;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}
.primary{
    color: #FF900E;
}
.semiBold{
    font-weight: 500;
}

/* Nav Styles */
nav{
    max-width: 1920px;
    margin-left: 228px;
    padding: 20px 10px 0px 10px;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-size: 3rem;
    font-weight: 500;
}
nav ul{
    margin-right: 240px;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

/* Banner section styles */
#banner{
    margin: 0 auto;
    padding: 10px 10px 40px 10px;
}
.banner-content{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 102px;
}
.banner-content h2{
    font-size: 4rem;
    font-weight: 500;
}
.banner-content p{
    font-size: 1rem;
    margin-top: 32px;
}
.banner-img img{
   width: 80%;
}
.banner-img{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.banner-btn{
    margin-top: 32px;
}


/* //Gallery Section styles */
#gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 80%;
    margin: 0 auto;
    margin-top: 85px;
}
.image-container .image img{
    width: 100%;
    height: 300px;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.image-content{
    width: 40%;
}
.image-content h2{
    font-size: 2.8rem;
    margin-bottom: 23px;
}
.image-content p{
    margin-bottom: 32px;
}

/* //Features styles */
#features{
    display: flex;
    justify-content: center;
    gap: 140px;
    margin-top: 180px;
}
.features-content{
    max-width: 500px;
}
.feature-description{
    margin-bottom: 30px;
}
.features-card{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 35px 30px;
    margin-bottom: 25px;
}
.feature-heading-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;
    padding: 0px 20px;
    margin-top: 39px;
}
.feature-card-title{
    font-size: 1.25rem;
    font-weight: 500px;
    margin-bottom: 10px;
}
.features-image{
    max-width: 700px;
}
.btn-experince{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}
.btn-info{
    font-size: 4rem;
    font-weight: 700;
}
.text-experience{
    font-size: 1.5rem;
    font-weight: 500;
}


/* //Dashboard Styles */
#dashboard{
    margin-left: 220px;
    margin-right: 120px;
    margin-top: 118px
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.dashboard-title{
    font-size: 2.8rem;
    font-weight: 700px;
    margin-bottom: 24px;
}
.dashboard-description{
    max-width: 542px;
    margin-bottom: 80px;
}
.card-box{
    text-align: center;
}
.card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    max-width: 241px;
    padding: 40px 30px;
    justify-content: center;
    align-items: center;
}
.total{
    font-size: 2.8rem;
    font-weight: 600;
}
.card-content-tile{
    font-size: 1.25rem;
    font-weight: 600px;
}

/* //Sponsors Style */
#sponsors{
    margin-top: 180px;
}
.sponsors-content{
    max-width: 542px;
    text-align: center;
    margin: 0 auto;
}
.sponsons-section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.sponsors-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
    margin-left: 240px;
    margin-right: 240px;
    filter: grayscale(100%);
    margin-bottom: 130px;
}

/* //Footer section style */
.footer-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px 100px;
    margin-bottom: 120px;
}

/* Responsive for mobile */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 30px 10px 20px 10px;
    }
    .nav-heading{
        text-align: center;
    }
    nav ul{
        margin: 0 auto;
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    nav ul li{
        margin-right: 0px;
    }
    .banner-content{
        width: 100%;
        margin-top: 50px;
    }
    .banner-content h2{
        font-size: 3rem;
    }
    .banner-img img{
        width: 100%;
    }
    #gallery {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        margin-top: 50px;
        padding: 10px 10px 40px 10px;
    }
    .image-container .image img{
        width: 100%;
        height: 200px;
    }
    .image-container{
        flex-wrap: wrap;
          gap: 2%;
    }
    .image-content{
        width: 100%;
    }
    .image-content h2{
        font-size: 2rem;
        margin-top: 30px;
        text-align: center;
    }
    .image-content p{
        width: 90%;
        text-align: justify;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .gallery-btn{
        display: flex;
        justify-content: center;
    }
    .btn-primary {
        border-radius: 5px;
        padding: 10px;
        font-size: 1rem;
        font-weight: 400;
    }
    #features{
        flex-direction: column;
        gap: 30px;
        margin: 10px;
    }
    .features-content{
        width: 100%;
    }
    .feature-heading-title{
        font-size: 1.5rem;
        font-weight: 500px;
        margin-left: 20px;
    }
    .feature-description{
        text-align: center;
        margin-bottom: 25px;

    }
    .feature-cards{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       justify-items: center;
       gap: 20px;
    }
    .features-image img{
        width: 100%;
    }
    .experience-btn{
        display: flex;
        justify-content: center;
    }
    .btn-experince{
        margin: 10px;
        padding: 10px 40px;
    }
    .btn-info{
        font-size: 2rem;
        font-weight: 500;
        padding: 10px 20px;
        text-align: center;
    }
    #dashboard {
        margin: 60px 20px 20px 20px;
    }
    .dashboard-title{
        font-size: 2rem;
        text-align: center;
    }
    .card-container {
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        justify-items: center;
    }
    .card{
        width: 100%;
    }
    .dashboard-description{
        width: 100%;
        text-align: center;
    }
    #sponsors{
        margin-top: 80px;
    }
    .sponsors-content{
        width: 100%;
    }
    .sponsons-section-title{
        font-size: 2rem;
    }
    .sponsors-container {
        width: 100%;
        margin: 40px 0px;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        justify-items: center;
    }
    .footer-content{
        width: 100%;
        padding: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    
}